

body{
    background-image: url(fundo.avif);
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo{
    animation: backInLeft 3s;
}


.escolha {
    animation: zoomIn 3s;
}


.escolha
 {text-align: center;}